html
  head
    meta(charset='UTF-8')
    title HTML、CSS教學
    link(rel='shortcut icon', href='favicon.ico')
    meta(name='description', content='網站描述文字')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:title', content='FB的標題')
    meta(property='og:description', content='FB的描述')
    meta(property='og:type', content='website')
    meta(property='og:url', content='FB上的網址')
    meta(property='og:image', content='FB的圖片')
    link(href='圖片路徑', rel='apple-touch-icon')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    link(rel='stylesheet', href='CSS檔案路徑')
    script(type='text/javascript', src='JS檔案路徑')
    
  body
    .wrap
      .top
        ul.top__menu
          li
            a.top__menu__fb(href="#")
              img(src="https://lh3.googleusercontent.com/HvqEMRnvjNVfTR1eVcg2Y5UnIS8mM6bEuxiul3pnJfGeeh75SUomyDOCwnu55Gtpf3Ln5H33XFODE-LZySzXEfpAfJHbWcMpJeuesCno3BndFfuUhKnDRTSosb955g8jtL2E9vK4-1C6GjkiLu8M0LVina8Zu-9zTX6sRovFl6CWTlscTcpUGs_3CJTWxn8f_k_A9wDbGKOFDZxrTG_otV9kVM6WvIC48F-5nqnpdSIELDZ8sgaHxeeLcQA9jj7Buj4g33c6q1i6qRFszxiARkGk8OrqjzkYatWdb0TIgDfjUgq1K53P6vokfjZXx5Ggt8O3xLv4nTyU5f92nV_FzoIMR2LmpOltUetImKFj0T4_yCqPmtFLdL-J_DsUluvGSI2uTVDJEkAn9sWUffG8Fal1q7E-6DPJ7a0RkoSCLcSoDH2l1wHOxZVui51Lhw40zJGKG2B4ZLkeJKNIDwbnOL6Dp9y0zseLjb1kR3unhiAZcThJLL-ZmKMOcLeuPiuRKM6m3udpFDT7sWNimIyi-PVRrtUqAiyE1NOwvRp_qyXl4ZjIfZegizbgvdoossq_bqfbxkszgLnAKrL32ijWl0ylB22PG2xoXLl2O_8FA5ym256IgVeOg79oYLN8WHv0P0Yu-rI51TR1ilG6emuzXCrVbuNZBVI=s16-no", alt="六角學院")
              span 粉絲團
          li
            a.top__menu__twitter(href="#")
              img(src="https://lh3.googleusercontent.com/GQBQGGs_3ehpr0eSQDow2p_OmH1lDaTBWmTopRATdhvd1wFH3dHUrrv9KzuWht1ORxLcPfLfSHYl3QGFksklHfJi5ryCcTM6Ca002rILPvmknwgEMt3ovCl91Ae-HDvOLa-aSFmrNtYEnhLd8pEk5_VXh7aTUyvuF6g8pMvgds7xc4CeKqRAtyXM9oMnBs84HLmkNs3nmbtf-fY5EjRq_Ellj0-OgTjzzRzara-YriBiqyzhdQKEFcNMC9-uGT_FU0pRo-8sojwG8WhpriFE7D2cvPjXOYBuKkUf0ah2YPZ1JiOZlEUBvp5HQKI6fj4U9TndHyrfk7JbJXOdV238TF-I7r0PqhojgpxgcyzQu4QrBEBVfOjKwveq1te1qCJwIuPORZkvDrYCffjJG8mKrJEVtYtvLFxGhkc9Wxmot0moVNlwSVkZ2Sf__DbSEtJp62Bw9RalteUw1z3j-m326c6rjeHLbOPYSCYI4MEpsB2EmhNM6vbAM3m-9oFsilrIkXCW6-8-fLE8jJ3ecT-rwPqriatA8o0wvRrSGRGjrSYnmThmX7GedbOgrIupb5mSz_E0qP8qV6gzDwHrGIJvY4sv6jlHrckC4lSCGhPDQmRn-_bR3fk7RsQWVxqeOS-grfcSMsZVK0gLgFST6ORIzntc60bHRPU=w14-h12-no", alt="")
              span 追隨我們
        .clearfix

      header
        a(href="#")
          img(src="https://lh3.googleusercontent.com/RLZ-nD2Iq3v3A8CiUrt-4Wk8xqRAtzbSVi5iZD-cd_9acvL9j0WKut0dnAtIhhOItP-cEMSiRWtNQGbsSr-9SLtug8IPQVJ3EH4bK5AhV8MLra-C7a6XQoUqtdLIVl4DE67CDcya5XckBHIheqJJnFS54G9mBcmXPAEGTlk7jYN3ony6VS-7sUja7eEfCb2MpFVQuC_0FsP4o70EjYhYPsF7zjf2VHbn2B2DYuYEh4qMzen7wqrCRQCni-4-KVqhmB31amCWQnQk4P4-GLN5nJ2A6gTQi2wuHQRlKV2FcIhcuu4i7r-lx3AGJS4TsG1CR5gq_B9bqs7iq5lB7ee2MIu41z8Y7UvL0-8wP7dPg4tVmF8XLTF1KkqN1jsI1Qfpa7uLFoERaBlGdz0RftlTCG9pPZuCgXc7J8SbEkSBFkgMsQ3dxI7RknfMMMw7StsqR4bWmeezlBKgnR9OrkJuAobB0SSQT-mnlmpbqEO5oyBA69pTZfRAxBBcjnU2Ni8GdY0LWhLhHeFJW34p4YMdmOBccap3GIBn02RHauEoydfagRGRBwenACGxxQ3oOQ-RKm_YHQ_j4XIgdA2oyHSxPyAqQCiQxefNAKA0zJFgRkccv5mn7HZrdHRXa5y-H_yb8WUkbryhQas_7tIke7-mB4L6xegz-FU=w170-h36-no", alt="")
        ul.header__list
          li.header__list--active 
            a(href="#" ) 首頁
          li 
            a(href="#") 產品介紹
          li 
            a(href="#") 聯絡我們
        .clearfix

      .banner
        .banner__rect
          h1.banner__h1
            | 六角學院
            br 
            | 讓您奠定良好的前端基礎      
      
      ul.card
        li.card__group
          .card__group__img
            img(src="https://lh3.googleusercontent.com/JoVuokrdOh1IDJZ-pFbGMf4Qz3pZ1nAGcs4jHQfmx0NQiK32NyqNIu1moKdoI8MC_YrHaitpqI8q5cxUqkXGScOcA6DWpRQno6XX5coVHMsMntHUGYq3jHxWdaBLh6Ts2xBghw10u5j5lpTlHlaR5RsI7zS0Zj3mpL5kjc2ptM2pc_qK8-C0OKNRPSuQGNt09K49r8-4iH1AMn3mDiz8F1Zreph-rGLSNYmcmnjZxLnTsJzx4sN3-93CzQuq7kqdTvQp2H-0DjPnyEG84WnATPRrjDPXV20_gAqEAaYwDpF1a8T58y9JTBuw2a1hoF2sovBJIWWpW5zPdZo4Te8kNj39uocjA1Z8DHB8VqcCpd6f7hse3OFVCdU2rzEDvE27jp5rMJfL8Pi3Q6wtRTXzpT_B_O3tsAF7Lg44gct6j-oBwNwtVk7ysA_vbvY6w8K4VoVUnO3DstQpwssWyQ4W4StC22TU7rOquz-bIkp54ZWGr3VFXz-2oZCbomn7jL_lfu_7_PaCTOwaUYbWNs30LtIj8SL0s4JcSJS3jXrP89W7eBHW0JeZiDjIDHQZ5Oxx0s86BI_AjWRxXLU5xn0PyE0rYJ0LDowtIQnCNJcfJePSkJBioxhMVW8grz-_o9M7_KjoerHb86Khmkh9s7aSJ82sb2EOt5s=w121-h136-no", alt="")
          h2.card__group__title Html 5 基礎教學
          p.card__group__content 主流前端網站設計的基礎就在六角學院，在這裡不在是填鴨式教學，而是透過實際的範例，瞭解正確的網站開發流程，講師均具有業界開發經驗，讓學員學習業界主流的開發方法。
        li.card__group
          .card__group__img
            img(src="https://lh3.googleusercontent.com/HI_mR5iOhxWnucDYyFeWuMGle0VJU_BCH4K2UEc1ToU62jy-N44Mcjq7_lvCv1lKLOTJaSIrTlOXUREFxG_iB7SCkOIHhsJwkKQlD2Ds4gFox2qFIxMcVfD_lNiTqZwu7s4MYJ-cR2aTzBLsdo0GqQa8y4zULtcPtGV4TdNb4hsVkBeg1MclxEH_X_0d3yhaCZwpsi75pb0T5cDw3liprs6DCSEGSKqpNXgzWDjB7xAaFsV6fGDRipmxkdXst-0M2XXBD7B5Cbgpb5GWfMBm_J_bfQU6831l45vsJjPbZeBnJUqF1PIV2b0KChH4bsV2zu-qTyGsOQ_3624JtkVfdeWRNBHSouNmVehJPC5JeUjxzDrXs1SkLW6NdUfTxUCMhub8eScAXl_hcCDJyPsflb0VOKrVo3WBS82ExcmwLhaaOvhMMWrt2Ejv_08ILNQI56m6uaLw7L2SlEfXC3O_UWM3JexggfIRzhbAjeMe1Z6IGN_zrnLxPOc3hfTX6FNVPfAfHa3Vb0yfgGPir-jscc6k6Z5jyVMvOq56mLSWPIMcW4WXR0-6L6eUzDUHrpHALB9IvVu_YWehI3Jzc-0k_LiXfzGRbLpcmsYxtzQ563yyN_5jONyFqyOK92GJKa05ndwLfC-t0skieEDBGsDlEliUbDWVkvU=w221-h81-no", alt="")
          h2.card__group__title 響應式網站設計
          p.card__group__content 響應式網站設計 (Responsive web design)，目前大多使用者均是以手機瀏覽的情況下，響應式網站已經是必備的。六角學院將會提供業界響應式開發方法，讓學生瞭解行動版開發技巧。
        li.card__group
          .card__group__img
            img(src="https://lh3.googleusercontent.com/Q9Zr_YeTtzmZ_UUaDvZegUnrL7nvmk_pINNPw8NB14W8z1-6A0H0jMlnUkyGxyzQtw_nkxMwas2me3E5hduijO76rR6khJVB59VaJ5JcMWitueJHEwQpP50_hTHJ4JuhWRs73CE69uB4pHoywtnu0GsQxJYrqSqYTvWRkoY2Kk3hdGolyH9zgCes8miPMppNutTcg1vx8-Fn-id-HC2xfJZq5-JhzVwWqluHGZS8OpHqY5qPyhXm2eXw8FTZ2GTCekXhi2SHaYhfu8IBjofFvkuTVzCre-J-La3TgbybfLz9H4x_YO3T_q6JQ5dBITGsnIll1k_w4B2NvZlsSDoAWE6JMvX9oJ6X8B5C7-K5Fp-MPKesqoqPIs2k9XF3ke2ydm9xx5CvV9mrEeWi4YdZFjwpeUaH1wCeO1y1WlM1aKsdGkluh-H4-C-EOsqW46QDxu3QSdROvEsGAmI4K0Pj4T-oGVUM6WJMTjwYejonWF6TQkA7t4Y4_j-SasMfbJUmwozTRCSwKElYuQ9ML8iSiNb-wyX2bz-ZfLSuw2bJ-P0G5shINIGAiemMl_pVikef0pCbQw7qxmLr1Pj5oybcco0bx2l_-BuPZTxOL48Ghh1ZRxzD8ORcUIMWrhlETahHIlqV5qMOb8DOMqIaJnSlHamTCOwh-D4=w114-h118-no", alt="")
          h2.card__group__title jQuery 實戰教學
          p.card__group__content 本課程有以下特色
            ul.card__group__content--ul
              li 瞭解變數的使用方法
              li 學習並操作DOM
              li 學習基本數學運算方法
              li 套件的操作及運用
              
            
      table.table
        h2.title 線上及實體課程的差異
        tr
          th 項目
          th Hex School 線上課程
          th 一般線上課程
          th 實體課程
        tr
          td 費用
          td.table--highlight 較低
          td.table--highlight 較低
          td 較高
        tr
          td 學習效果
          td 一般
          td.table--highlight 較低
          td.table--highlight 很好
        tr
          td Code review
          td.table--highlight 有
          td 無
          td 不一定
        tr
          td 課程更新速度
          td.table--highlight 普通
          td.table--highlight 普通
          td 較慢
        tr
          td 多次複習
          td.table--highlight 可
          td 可
          td 不可
        tr
          td 字幕
          td.table--highlight 有
          td 不一定
          td 板書
          
          
      form.contact(action="index.html")
        h2.title
          | 對我們課程有興趣嗎？
          br 
          | 歡迎留下您的資料
        .container
          textarea.contact__message
          .contact__info
            label(for="name") 姓名
            input(type="text" id="name" name="name" placeholder="六角講師")
            label(for="phone") 電話
            input(type="text" id="phone" name="phone" placeholder="0912345678")
            label(for="email") 信箱
            input(type="text" id="email" name="email" placeholder="hexschool@mail.com")
            input.contact__submit(type="submit" value="送出")
            
        
      footer.footer
        a(href="#")
          img.footer_logo(src="https://lh3.googleusercontent.com/EacS-C85p5TvElBRctL1CmF-rZPJ-Ih1uKqmdMjhCefkYi0N4lVQB8zQe1SiJMOqyS1MTnrU6qxrFDRZC-FrlfksWpKiVroBpIeROUwU4jWRbm_1DDlsdjly5aQEHgssSTGEGmtSRJlVmoDvNrj1eiw5c3T4OrFIjh8WdxPANV8oFWKyxCtBX95LKjqF0A5sZa8STKl7iNVkh4CxMnkE29HCshpjzEEHCxRd3_eoD1O-26pgmRCNIrPhDu_BfR5lM9pnt85MYFIiFUAuuT2a_Adsi8x6m6-ZbiKRtk7ehInBNUucCARCXYqYtZ60y5xXCwx2rJQU0Snx3CcEIbIiY8V13yMqUFtUyGQeO8rUbXSRRSyo6uIbc6DrfvHMMa29rIWjgdVIokQBGR2WWCFrM6D69xRLN4kdwx8l9CfatZCbhhfqegpLIqDFVU1cCIQz4UXVkCJ_w2lT1iVA3UBxZvBWvG723HK2lVoHy_l_wyTHvQqhtbyBlAIW4P4zjh0VkwwSD8tO92xRNnzKGvkVCofhM92crGJDvhlTjFaft7UB9yjSOogocekFcIjVvXEODrie6XRx_FCVgHHSwRsr3Dhd1cOksHV96kEKKsXBFH8L1bmh8Msva1aAVouOG3EENQZYkAo6h-28LKoRM02O61_VksLQXXQ=w170-h36-no", alt="")
        ul.footer__info
          li 聯絡我們 :  
            span  hexschool@gmail.com
          li 電話 : 
            span 0900123456
    
